<section class="footer">
  <div class="row">
    <div class="small-12 medium-12 large-9 columns">
      <img src="{{ site.theme.link }}/img/logo-small.png" class="footer-logo" />
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ultrices est at eleifend bibendum. Ut non lacinia nisl. Pellentesque at posuere felis. Sed elementum gravida bibendum. Aliquam molestie mauris varius cursus tempus. Duis vitae consequat libero, sit amet maximus leo. Morbi quis ipsum convallis, finibus ipsum non, hendrerit urna. Sed ultrices nisi eget metus fringilla tincidunt.</p>
      <p>Maecenas ut vehicula tortor. Integer pellentesque leo vel hendrerit vehicula. Aliquam egestas finibus fringilla. Donec sollicitudin pellentesque massa sit amet rutrum. Donec congue, lectus nec maximus scelerisque, tortor augue feugiat dolor, vitae pharetra dui mi vitae ante. Phasellus hendrerit sit amet dolor et sagittis. Etiam massa leo, scelerisque varius est a, vulputate rhoncus magna. Morbi et massa nulla. Curabitur ut sollicitudin orci. Maecenas id massa orci. Etiam at sodales nisl. Morbi dictum turpis lorem, vestibulum sodales tortor ultrices vel. Vivamus commodo mauris vel magna placerat, ut molestie sem cursus. Nulla ultricies luctus nisi, vel dignissim sem pharetra nec.</p>
      <p>&copy; {{"now"|date('Y')}} | Penn Hills Landscaping</p>
    </div>
    <div class="small-12 medium-12 large-3 columns">
      <img src="{{ site.theme.link }}/img/calltoday-small.png" class="footer-calltoday" />
      <span>412-754-9642</span>
    </div>
  </div>
</div>
