<section class="footer">
  <div class="row">
    <div class="small-12 medium-12 large-9 columns">
      <img src="{{ site.theme.link }}/img/logo-small.png" class="footer-logo" />
      <p>Our landscape architects work with our clients from start to finish. This means our designers will work with you from the initial design to the completion of the project. They are on site to insure your landscape is completed properly.</p>
    </div>
    <div class="small-12 medium-12 large-3 columns">
      <img src="{{ site.theme.link }}/img/calltoday-small.png" class="footer-calltoday" />
      <span>412-754-9642</span>
    </div>
  </div>
</div>
