{% extends "base.twig" %}

{% block content %}

  <section class="hero fullWidth">
    <div class="row">
      <div class="small-12 medium-9 large-9 columns">
        <h1>You grow it. <span>We mow it.</span></h1>
        <h2>We do more than just groom your lawn. <br />We make it healthy again.</h2>
        <a href="about.html" class="button">Get a Free Quote</a>
      </div>
      <div class="small-12 medium-3 large-3 columns">
        &nbsp;
      </div>
    </div>
  </section>

{% endblock %}
